.contactbanner img {
  width: 100%;
  height: auto;
}

.contact-container {
  font-family: Arial, sans-serif;
}
.contact-details{
  padding-top: 50px;
}

.contact-details h1, .contact-details h2 {
  margin-bottom: 20px;
}
.appodiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh; /* Ensure it takes the full height of the viewport */
}

.appointment-form {
  background-color: #0098d8;
  border-radius: 8px;
  padding: 2rem;
  max-width: 400px; /* Adjust based on your design */
  width: 100%;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.appointment-form h2 {
  color: white;
  margin-bottom: 1rem;
}

.appointment-form .btn {
  background-color: black;
  color: white;
  display: block;
  margin: 1rem auto 0 auto; /* Center the button */
  padding: 0.5rem 2rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: block;
  border: 1px solid #ddd;
  background-color: white;
  width: 100%;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: white;
}
